extends ./basic3columns.jade
block left
  include ./includes/menu.jade
  
block content
  if course
    h4 #{course.courseid} - #{course.name}
    h5 Course Contents
    p= course.contents
    h5 Study Goals
    p= course.studygoals
    h5 Keywords
    div.keyword-cloud(style="text-align:center;")
      each k in keywords
        div.keyword(id='#{k.id}',style="display:inline-block;margin:5px;")
          span.label.label-primary(style="font-size:14px;font-weight:400;")
            a(href='/keyword/#{k.id}')
              span #{k.name}
            &nbsp;
            a.keyword-link(href='#' onclick='removeKeyword(\'#{k.id}\',\'#{course.id}\');return false;')
              span.glyphicon.glyphicon-remove(style="font-size:12px;",)
  else
    h4 Courses
    table.table.table-striped
      thead
        tr
          th Course ID
          th Course Name
      tbody
        each c in allCourses
          tr
            td #{c.courseid}
            td 
              a(href='/course/#{c.id}') #{c.name}
            
block right
  if course
    h4 Wikipedia
    ul
      each article in articles
        li
          a(href='#{article.url}', target='_blank')= article.title

